@using Personal_Portfolio.Models
@model IEnumerable<ProjectCardModel>
@{
}

<div class="container">
    <div class="row pt-5">
        <div class="text-center col-12">
            <h3 class="text-uppercase border-bottom mb-4">List of projects</h3>
        </div>
    </div>

    @using(Html.BeginForm("Index","Projects", FormMethod.Get)) {

        <div class="input-group">
            <label for="txtSearch" class="form-label">Search by title</label>
            <input type="text" class="form-control" id="txtSearch" placeholder="Search project by title"/>
            @* @Html.TextBox("searchTerm") *@

            @* <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div> *@
        </div>

    }

    <div id="projects"></div>

@section Scripts
{
    <script>
        $(() => {
            getUsers()

            // responsive filtering from this code snippet
            $('#txtSearch').on('keyup', () => {
                getUsers()
            })
        })
        var getUsers = () => {
            $.ajax({
                url: '@Url.Action("SearchUsers", "Projects")',
                datatype: 'html',
                method: 'GET',
                data: {searchTerm: $('#txtSearch').val()},
                success: (res) => {
                    $('#projects').html('').html(res)
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }
    </script>
}

