@using Personal_Portfolio.Models
@model IEnumerable<BlogModel>

@if (Model is null)
{
    <h2>model is null</h2>
}
else
{
    @foreach (var blog in Model)
    {
        <div class="card mx-auto mt-3 w-75">
            <div class="card-body">

                @Html.ActionLink(blog.title, "BlogDetails", "Blogs", new {blogTitle=blog.title}, null)

                <h5 class="card-title">@blog.date.ToString("MM-dd-yyyy")</h5>
                <p class="card-text">@blog.previewDesc</p>
            </div>
        </div>
    }
}