@using Personal_Portfolio.Models
@model IEnumerable<BlogModel>


<div class="text-center">
    <h2>All Blogs</h2>
</div>
<hr/>
<div class="text-center">
    @Html.ActionLink($"Sort by {ViewBag.SortBy}", "Index", "Blogs", new {isNewest=ViewBag.SortBy}, new {@class="btn btn-primary"})
</div>

@* here we render the blogs list *@
@* <div id="blogs"></div> *@

<partial name="_BlogCardPartialView" model="Model"/>






